* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

nav {
    background-color: #0084fd;
}

.row {
    display: flex;
}

.nav-bar {
    min-height: 75px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-icon {
    font-size: 25px;
    color: white;
}

.nav-items ul {
    list-style-type: none;
    gap: 30px;
    align-items: center;
}

.nav-items ul a {
    text-decoration: none;
    color: white;
}

.nav-items input {
    border-color: transparent;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
}

/*MISURE TEST*/
.container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
}
/*MISURE TEST*/
.cards-container-up {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    gap: 25px;
    text-align: center;
}
/*MISURE TEST*/
.cards-container-down {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
    gap: 25px;
    align-items: center;
    text-align: center;
}

.big-card {
    flex-direction: column;
}

.big-card i {
    margin-right: 6px;
}

.big-card span {
    color: #0084fd;
    font-weight: bold;
}

.card span {
    color: #0084fd;
    font-weight: bold;
    font-size: 1.4em;
}

.card i {
    color: #0084fd;
    font-size: 80px;
}

.demo {
    flex-direction: column;
    gap: 40px;
    padding: 30px;
    text-align: left;
}

.demo p {
    font-size: 0.9em;
}

.demo span {
    font-size: 1.4em;
}

.demo-img {
    justify-content: center;
}

.big-card img {
    max-width: 240px;
}

.btn {
    color: white;
    background-color: #0084fd;
    border-color: transparent;
    border-radius: 20px;
    padding: 8px 50px 8px 50px;
    font-size: 1em;
}

/*MISURE TEST*/
.cards-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
    gap: 25px;
    align-items: center;
}
/*MISURE TEST*/
.big-card {
    width: 100%;
    border-radius: 20px;
    background-color: #b5ddff;
}
/*MISURE TEST*/
.card {
    width: 100%;
    border-radius: 20px;
    background-color: #b5ddff;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.card-planning {
    width: 100%;
    border-radius: 20px;
    background-color: #b5ddff;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.card p {
    line-height: 30px;
}
/*MISURE TEST*/
.cards-container-img {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
    gap: 25px;
    align-items: center;
}

.cards-container-img img {
    width: 100%;
}   

.background {
    background-color: #9792e4;
}

.strategic {
    width: 100%;
    flex-direction: column;
    gap: 40px;
}

.planning {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.planning span {
    color: black;
}

.planning p {
    font-style: italic;
}

.planning button {
    padding: 12px 15px 12px 15px;
    border-radius: 20px;
    border: none;
    background-color: #9792e4;
}

.planning i {
    color: black;
    font-size: 20px;
}

.back {
    background-color: white;
}

.cards-container-img span {
    font-size: 1.4em;
    font-weight: bold;
}

.strategic span,.strategic p {
    color: white;
}

.text {
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.text span {
    color: #9792e4;
    font-size: 1.8em;
    font-weight: bold;
}

.card-img {
    margin-bottom: 100px;
}


.users {
    background-color: #9792e4;
    display: flex;
}

.user-img {
    display: flex;
    width: 200px;
    height: 200px;
    align-self: center;
}

.users i {
    color: white;
    font-size: 20px;
}

.user-img img {
    max-width: 100%;
    border-radius: 50%;  
    object-fit: cover;
}

.users p:nth-child(3) {
    font-size: 1.2em;
}

.users span, .users p {
    color: white;
    text-align: center;
    
}
/*MISURE TEST*/
.benefits-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
    gap: 25px;
    align-items: center;
}

.benefits-container .card {
    background-color: white;
}

.benefits .number {
    color: #9792e4;
    font-size: 2em;
    font-weight: bold;
}

.benefits .caption {
    color: #9792e4;
    font-size: 1.2em;
    font-weight: bold;
}

.benefits input {
    background-color: #9792e4;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 40px 8px 40px;
}

.text-benefits {
    flex-direction: column;
    gap: 40px;
    text-align: center;
    color: white;
    font-size: 1.9em;
    font-weight: bold;
}

.texts-card span{
    color: #9792e4;
    font-size: 1.8em;
    font-weight: bold;
}

/*MISURE TEST*/
.texts-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
    gap: 25px;
    align-items: center;
}
/*MISURE TEST*/
.texts-card {
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.texts-card p {
    line-height: 30px;
}

.texts-card span {
    font-size: 2.4em;
}

.people {
    width: 200px;
    height: 200px;
    background: url(img/about.jpg);
    background-size: cover;
    border-radius: 50%;
}

.people i {
    font-size: 50px;
    position: relative;
    left: 150px;
}

.user-card button {
    background-color: #9792e4;
    padding: 6px 10px 6px 10px;
    border-radius: 20px;
    border: none;
    color: white;
}

.user-card {
    color: #9792e4;
    font-size: 1.8em;
    font-weight: bold;
}

.fa-brands.fa-linkedin {
    color: white;
}



/*MISURE TEST*/
.user-card {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    gap: 30px;
}
/*MISURE TEST*/
.start-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
    gap: 25px;
    align-items: center;
}
/*MISURE TEST*/
.start-card {
    min-height: 500px;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.start-card a {
    color: white;
}

.start-card input {
    padding: 20px 60px 20px 60px ;
    font-size: 1.2em;
    color: #9792e4;
    border-radius: 80px;
    border: none;
}

.start-card p:nth-of-type(1) {
    color: #c7c5f1;
}

.start-card p:nth-of-type(2) {
    color: white;
    font-weight: bold;
    font-size: 1.7em;
}

.start-card p:nth-of-type(3) {
    color: #fdc15f;
    font-size: 4em;
}

.start-card p:nth-of-type(4) {
    color: white;
}

.start-card p:nth-of-type(5) {
    color: white;
}

/*MISURE TEST*/
.footer-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    align-items: center;
}
/*MISURE TEST*/
.footer-text {
    min-height: 120px;
    width: 100%;
    text-align: center;
    color: white;
}

.feedback p:last-child {
    font-size: 1.2em;
    font-weight: bold;
}

.links {
    min-height: 120px;
    width: 100%;
    text-align: center;
    color: white;
}

.footer-back{
    background-color: #333333;
}

footer.container {
    padding-bottom: 0;
}

footer a {
    color: #9792e4;
}

@media screen and (min-width: 768px) {
    .cards-container-up {
        flex-direction: row;
    }

    .cards-container-up .card {
        width: 32%;
    }

    .cards-container-up .big-card {
        width: 68%;
    }

    .cards-container-down {
        flex-direction: row;
    }

    .cards-container .big-card {
        width: 100%;
    }

    .card {
        width: 100%;
        padding: 22px;
    }  

    .demo-img {
        text-align: left;
        margin-left: 25px;
    }

    .strategic span {
        font-size: 4em;
    }

    .users {
        flex-direction: row;
    }

    .start-card {
        width: 100%;    
    }

    .feedback {
        width: 80%;
        flex-direction: column;
        align-self: center;
    }

    .feedback p {
        text-align: left;
        margin-bottom: 20px;
    }

    .user-img {
        margin-bottom: 16px;
    }

    .texts-card {
        width: 60%;
    }

    .texts-card span {
        font-size: 3em;
    }

    .user-card {
        width: 40%;
        align-self: baseline;
    }

    .texts-container {
       flex-direction: row;
    }

    .benefits-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .benefits {
        width: 48%;
    }

    .demo-img {
        justify-content: left;
    }
}

@media screen and (max-width: 768px) {
    .nav-items {
        display: none;
    }
}

@media screen and (min-width: 992px) {

    .nav-bar {
        padding-left: 180px;
        padding-right: 180px;
    }

    .nav-icon {
        display: none;
    }

    .container {
        padding-left: 180px;
        padding-right: 180px;
    }

    .cards-container-img {
        flex-direction: row;
        align-items: flex-end;
        padding: 60px 100px 0px 100px;
        gap: 60px;
    }

    .benefits {
        width: 31.3%;
    }

    .demo-img {
        justify-content: left;
    }

    .strategic span {
        font-size: 1.6em;
    }

    .card-planning {
        border-radius: 20px;
        flex-direction: column;
        max-height: 600px;
        align-items: center;
    }

    .planning {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

}
@media screen and (max-width: 992px) {
    .nav-items {
        display: none;
    }
}

@media screen and (min-width: 1200px) { 

    .container {
        padding-left: 200px;
        padding-right: 200px;
    }

    .nav-bar {
        padding-left: 200px;
        padding-right: 200px;
    }

    .demo-img {
        padding-top: 70px;      
    }

    .big-card {
        flex-direction: row;
    }
}