* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #0084fd;
}

.row {
    display: flex;
}

/*MISURE TEST*/
.nav-bar {
    min-height: 75px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
/*MISURE TEST*/
.logo {
    height: 40px;
    width: 80px;
    background-color: white;
}
/*MISURE TEST*/
.bars {
    height: 40px;
    width: 80px;
    background-color: white;
}

/*MISURE TEST*/
.container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
}
/*MISURE TEST*/
.cards-container-up {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    gap: 25px;
    align-items: center;
}
/*MISURE TEST*/
.cards-container-down {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
    gap: 25px;
    align-items: center;
}
/*MISURE TEST*/
.cards-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
    gap: 25px;
    align-items: center;
}
/*MISURE TEST*/
.big-card {
    min-height: 600px;
    width: 100%;
    
    background-color: aqua;
}
/*MISURE TEST*/
.card {
    min-height: 360px;
    width: 100%;
    
    background-color: aqua;
}
/*MISURE TEST*/
.benefits-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
    gap: 25px;
    align-items: center;
}
/*MISURE TEST*/
.texts-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
    gap: 25px;
    align-items: center;
}
/*MISURE TEST*/
.texts-card {
    min-height: 360px;
    width: 100%;
    
    background-color: aqua;
}
/*MISURE TEST*/
.user-card {
    min-height: 360px;
    width: 100%;
    
    background-color: aqua;
}
/*MISURE TEST*/
.start-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
    gap: 25px;
    align-items: center;
}
/*MISURE TEST*/
.start-card {
    min-height: 500px;
    width: 100%;
    
    background-color: aqua;
}
/*MISURE TEST*/
.footer-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    align-items: center;
    background-color: aqua;
}
/*MISURE TEST*/
.footer-text {
    min-height: 120px;
    width: 100%;
    text-align: center;
}
/*MISURE TEST*/
.links {
    min-height: 120px;
    width: 100%;
    text-align: center;
}

footer.container {
    padding-bottom: 0;
}

@media screen and (min-width: 768px) {
    .cards-container-up {
        flex-direction: row;
        
    }

    .cards-container-up .card {
        min-height: 600px;
        width: 32%;
    }

    .cards-container-up .big-card {
        width: 68%;
    }

    .cards-container-down {
        flex-direction: row;
    }

    .cards-container .big-card {
        width: 100%;
    }

    .card {
        width: 100%;
    }  

    .start-card {
        width: 100%;    
    }

    .texts-card {
        width: 60%;
    }

    .user-card {
        width: 40%;
    }

    .texts-container {
       flex-direction: row;
    }

    .benefits-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .benefits {
        width: 48%;
    }
}